.roof {
	width: 0;
	height: 0;
	border-left: 1500px solid transparent;
	border-right: 1500px solid transparent;
	border-bottom: 700px solid brown;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
}
.wall{
	width: 2500px;
	height: 2200px;
	background-color: #A9A9A9;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
}
.wall1{
	width: 2500px;
	height: 2000px;
	background-color: #A9A9A9;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 3;
}
.window1{
	border: 20px solid #D2691E;
	width: 500px;
	height: 650px;
	background-color: #F0FFFF;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	position: relative; 	
}
.window2{
	border: 20px solid #D2691E;
	width: 500px;
	height: 650px;
	background-color: #F0FFFF;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.window3{
	border: 20px solid #D2691E;
	width: 500px;
	height: 650px;
	background-color: #F0FFFF;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.door{
	width: 500px;
	height: 800px;
	background-color: #A0522D;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
}
