*{
	margin:0;
	padding: 0; 
}
.back>img {
	height: auto;
	top:0px; 
    display: block;
    padding: 0px;
    margin-left: 0px;
    margin-right: auto;
    height: 100%;
    width: 100%;
    position: fixed;
}
.bords{	
	position: absolute;
	width: 90%;
	z-index: 101;
	display: block;
	padding: 0px;
	left: 9%;
	margin-left: auto;
	margin-right: auto; 
}
.bord, .bord1, .bord2, .bord3{
	margin-left: 20%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;  
	width:20%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
	display: block;
	position: relative;
	text-align: justify;
	background-color: blue;
	border:2px solid black;
	z-index:100;
}
.h1{
	width: 92%;
	height: 100%;
	margin-top: 3%;
	text-align: center;
	background-color: #7e1010;
	position: relative;
	border-radius: 12px;
	margin-right: auto;
	margin-left: auto; 
	border: 1px solid #AD1414;
	padding: 2px;
	z-index: 50;
}
.text{
	width: 70%;
	margin-top:0%; 
	height: auto;
	text-align: justify;
	background: brown;
	position: relative;
	border-radius: 12px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #D24747;
	padding: 15px;
	z-index:46;
	overflow: auto;
}
.header_top{
	width: 101%;
	top:0px;
	display: block;
	padding: 0px;
	margin-left: -5px;
	margin-right: auto; 
	position: fixed;
	z-index: 150;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: auto;
    background-color: #7e1010;
}
li{
	float: left;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: orange;
}

.active {
    background-color: red;
}
.h1_back {
	background-image: url(../img/back_h1.jpg);
	height: 180px;
	width:100%;
	display: block;
	border-radius: 12px;  
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	opacity: 0.3;
}
.h1_text {
	text-shadow: 3px 2px black;
	padding: 1%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.img1{
	float: left;
	margin-right:15px;
	margin-bottom: 15px;
	width:50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:8px
}
.img2{
	float: right;
	margin-top: 15px;
	margin-left: 15px;
	width:50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:8px
}
main{
	min-height: calc(100vh - 80px);
}
body{
	background: darkblue;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 32px;
}

@media screen and (max-width:1200px){
	h1{
		font-size: 26px;
	}
	h2{
		font-size: 18px;
	}
}