.border1 {
    border: 10px solid black;
    width: 200px;
    height: 200px;
    position: relative  ;
    float: left;
}
.border2 {
    border: 10px solid black;
    width: 200px;
    height: 200px;
    position: relative;  ;
    float: left;
} 
.border3 {
    border: 10px solid black;
    width: 200px;
    height: 200px;
    position: relative; 
    float: left;
}  
@media screen and (max-width: 1000px) {
    .border2, .border3 {
            float:right;
    		border: 10px solid black;
    		width: 200px;
    		height: 200px;
            position:   relative;   
    }
}